
{% extends 'base.html' %}

{% load static %}

{% block blockTitel %} Detail Employees {% endblock blockTitel %}
    

{% block blockBody %}

    <div class="grid-container">
        <div class="grid-x">
            <div class="media-object">
                <div class="media-object-section">
                    {% if detail.img %}
                        <div class="thumbnail">
                            <img width="300" height="300" src="{{ detail.img.url }}">
                        </div>
                    {% else %}
                        <div class="thumbnail">
                            <img width="300" height="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmJACYPoJUcPJN9-3bshw0O2boYVLQJGuKAg&usqp=CAU">
                        </div>
                    {% endif %}
                </div>
                <div class="media-object-section">
                    <h4 class="subheader">Name:</h4>
                    <h4>{{detail.full_name}}</h4>
                    <h5 class="subheader">Job:</h5>
                    <h5>{{detail.job}}</h5>
                    <h5 class="subheader">Apartmens:</h5>
                    <h5>{{detail.apart}}</h5>
                    <h5 class="subheader">Skils:</h5>
                    <ul>
                        {% for d in detail.skill.all %}
                        <li>{{d}}</li>
                        {% endfor %}
                    </ul>
                    <h5 class="subheader">Date:</h5>
                    <h5>{{detail.cv | safe}}</h5>
                </div>
            </div>
        </div>
    </div>


{% endblock blockBody %}  

