<div class="top-bar " >
  <div class="top-bar-left   ">
    <ul class="dropdown menu " data-dropdown-menu>
      <li ><a href="{% url 'home_app:Start' %}"><h5>YouEmployees</h5></a></li>
      <li><a href="{% url 'persona_app:Peoples' %}"><h5>Employees</h5></a></li>
      <li><a href="#0"><h5>Departments</h5></a></li>
      <li><a href="#0"><h5>Manage</h5></a></li>
    </ul>
  </div>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="has-submenu">
          <a href="#0" >Add</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a  href="#0">Department</a></li>
            <li><a href="#0">Employees</a></li>
            <li><a href="#0">Skills</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

