<header style="  margin: 0;
margin-bottom: 40px;"> 
  <div class="top-bar " >
    <div class="top-bar-left   ">
      <ul class="dropdown menu " data-dropdown-menu>
        <li ><a href="{% url 'home_app:Start' %}"><h5>YouEmployees</h5></a></li>
        <li><a href="{% url 'persona_app:Peoples' %}"><h5>Employees</h5></a></li>
        <li><a href="{% url 'departamento_app:Apartmens' %}"><h5>Departments</h5></a></li>
      </ul>
    </div>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="has-submenu">
            <a  >Add</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a  href="{% url 'departamento_app:Create-apart' %}">Department</a></li>
              <li><a href="{% url 'persona_app:People-create' %}">Employees</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>