{% extends 'base.html' %}

{% load static %}

{% block blockTitel %} Register Employees {% endblock blockTitel %}
    

{% block blockBody %}

{% include 'includes/header.html' %}
    <!--    Home cover image     -->
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
        <ul class="orbit-container">
            <li class="is-active orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{% static 'img/1.jpg' %}" alt="Space">
            </figure>
        </ul>
    </div>
    <!--    End cover image     -->
    <!--    Start ignition block    -->
    <div  class="grid-x align-center ">
        <div class="cell large-8 smal-8">
            <h1 class="subheader" >Welcome to the employee registration system</h1>
            <h3 class="subheader">This is a simple and easy way to take control of your company.</h3>
        </div>
    </div>
    <div class="grid-x callout secondary align-center ">
        <div class="cell large-8 smal-8">
            <h4>You can verify, add and delete:</h4>
            <ul>
                <li>
                    <div class="media-object">
                    <div class="media-object-section">
                      <div class="thumbnail">
                        <img src="{% static 'img/2.jpg' %}">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <h4>Manage.</h4>
                      <p>Generate the most requested or required skills and very simply indicate which personnel meets them.</p>
                    </div>
                  </div>
                </li>
                <li>
                    <div class="media-object">
                    <div class="media-object-section">
                      <div class="thumbnail">
                        <img src="{% static 'img/3.jpg' %}">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <h4>Department.</h4>
                      <p>Generate the most requested or required skills and very simply indicate which personnel meets them.</p>
                    </div>
                  </div>
                </li>
                <li>
                    <div class="media-object">
                    <div class="media-object-section">
                      <div class="thumbnail">
                        <img src="{% static 'img/4.jpg' %}">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <h4>Employees.</h4>
                      <p>Add a new person to the staff, designate their department as well as the person's skills..</p>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
    </div>

    <!--    End ignition block    -->
 
{% endblock blockBody %}  
{% static '' %}